Data & Python Notebook that corresponds to my lego analysis YouTube tutorial: [https://youtu.be/BzQDi4D0B_M]

In [1]:
# Making a map using the folium module
import folium
phone_map = folium.Map()

# Top three smart phone companies by market share in 2016
companies = [
    {'loc': [13.7527,  79.7067], 'label': 'Datamind: ...%'},]

# Adding markers to the map
for company in companies:
    marker = folium.Marker(location=company['loc'], popup=company['label'])
    marker.add_to(phone_map)

# The last object in the cell always gets shown in the notebook
phone_map

In [2]:
import numpy as np
import pandas as pd

In [3]:
df1=pd.read_csv("lego_sets.csv")

In [4]:
df1

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
...,...,...,...,...,...,...
11981,NaN,NaN,2014,NaN,NaN,Minecraft
11982,NaN,NaN,2006,NaN,NaN,Super Heroes
11983,NaN,NaN,2017,NaN,NaN,Minecraft
11984,NaN,NaN,2017,8.0,NaN,Super Heroes
11985,NaN,NaN,2003,NaN,NaN,Harry Potter

In [5]:
df1.isnull().sum()

set_num          153
name             153
year               0
num_parts       5060
theme_name       153
parent_theme       0
dtype: int64

In [18]:
df1.dropna(subset=["set_num","name","theme_name"],inplace=True)

In [19]:
df1["parent_theme"].unique()

array(['Legoland', 'Town', 'Castle', 'Space', 'Classic', 'Gear',
       'Universal Building Set', 'Train', 'Bulk Bricks', 'Star Wars',
       'Hobby Sets', 'Bionicle', 'Sculptures', 'Discovery', 'Pirates',
       'Seasonal', 'Super Heroes', 'Clikits', 'Sports', 'Harry Potter',
       'Model Team', 'Other', 'Modular Buildings', 'Factory',
       'Service Packs', 'Monster Fighters',
       'The Hobbit and Lord of the Rings', 'Creator', 'Adventurers',
       'Mindstorms', 'Technic', 'Educational and Dacta', 'Duplo',
       'Disney Princess', 'Juniors', 'Friends', 'Aquazone', 'Ninja',
       'Minitalia', 'Books', 'Ninjago', 'Hero Factory', 'Racers',
       'Fabuland', 'Rock Raiders', 'Studios', 'Alpha Team', '4 Juniors',
       'Building Set with People', 'Boat', 'Value Packs', 'Freestyle',
       'Time Cruisers', 'Indiana Jones', 'Master Building Academy',
       'FIRST LEGO League', 'Atlantis', 'Prince of Persia',
       'Architecture', 'LEGO Ideas and CUUSOO', 'Minecraft', 'Fusion',
       'Homemaker', 'Elves', 'Belville', 'Nexo Knights', 'Western',
       'Promotional', 'Toy Story', "Pharaoh's Quest", 'Cars',
       'Pirates of the Caribbean', 'Legends of Chima', 'The Lone Ranger',
       'Teenage Mutant Ninja Turtles', 'The LEGO Movie', 'Jurassic World',
       'Scooby-Doo', 'Designer Sets', 'LEGO Brand Store',
       'Island Xtreme Stunts', 'Znap', "Disney's Mickey Mouse",
       'Spybiotics', 'SpongeBob SquarePants', 'Avatar', 'Exo-Force',
       'Legoland Parks', 'Inventor', 'Brickheadz', 'Mixels', 'X-Pod',
       'Power Miners', 'Collectible Minifigures', 'Speed Champions',
       'Agents', 'LEGO Exclusive', 'Universe', 'Dino', 'Dinosaurs',
       'Vikings', 'Disney', 'Dimensions', 'Dino 2010', 'Dino Attack',
       'Angry Birds', 'Ghostbusters', 'Power Functions', 'Ben 10'],
      dtype=object)

In [20]:
df2=pd.read_csv("parent_themes.csv")

In [21]:
df2

      id          name  is_licensed
0      1       Technic        False
1     22       Creator        False
2     50          Town        False
3    112        Racers        False
4    126         Space        False
..   ...           ...          ...
106  605  Nexo Knights        False
107  606   Angry Birds         True
108  607  Ghostbusters         True
109  608        Disney         True
110  610    Brickheadz        False

[111 rows x 3 columns]

In [22]:
df2.loc[0]

id                   1
name           Technic
is_licensed      False
Name: 0, dtype: object

In [23]:
d={}
for i in range(111):
    d[df2.loc[i]["name"]]=df2.loc[i]["is_licensed"]
print(d)

{'Technic': False, 'Creator': False, 'Town': False, 'Racers': False, 'Space': False, 'Pirates': False, 'Modular Buildings': False, 'Star Wars': True, 'Castle': False, 'Designer Sets': False, 'Seasonal': False, 'Train': False, 'Harry Potter': True, 'Architecture': False, 'Bulk Bricks': False, 'Mindstorms': False, 'Pirates of the Caribbean': True, 'Indiana Jones': True, 'Cars': True, 'Ben 10': True, 'Prince of Persia': True, 'SpongeBob SquarePants': True, 'Studios': False, 'Toy Story': True, 'Sculptures': False, 'Model Team': False, '4 Juniors': False, 'Adventurers': False, 'Other': False, 'Agents': False, 'Alpha Team': False, 'Aquazone': False, 'Atlantis': False, 'Avatar': True, 'Belville': False, 'Bionicle': False, 'Boat': False, 'Building Set with People': False, 'Classic': False, 'Dino 2010': False, 'Dino Attack': False, 'Dinosaurs': False, 'Discovery': False, "Disney's Mickey Mouse": True, 'Exo-Force': False, 'Fabuland': False, 'Factory': False, 'FIRST LEGO League': False, 'Freestyle': False, 'Hero Factory': False, 'Hobby Sets': False, 'Homemaker': False, 'Inventor': False, 'Island Xtreme Stunts': False, 'LEGO Brand Store': False, 'Legoland': False, 'Legoland Parks': False, 'Master Building Academy': False, 'Minitalia': False, 'Ninja': False, 'Ninjago': False, "Pharaoh's Quest": False, 'Power Functions': False, 'Power Miners': False, 'Primo': False, 'Quatro': False, 'Rock Raiders': False, 'Service Packs': False, 'Sports': False, 'Spybiotics': False, 'Time Cruisers': False, 'Universal Building Set': False, 'Vikings': False, 'Western': False, 'X-Pod': False, 'Znap': False, 'Dino': False, 'Super Heroes': True, 'Friends': False, 'Books': False, 'Clikits': False, 'Gear': False, 'Duplo': False, 'Educational and Dacta': False, 'Collectible Minifigures': False, 'Monster Fighters': False, 'Value Packs': False, 'Universe': False, 'The Hobbit and Lord of the Rings': True, 'Teenage Mutant Ninja Turtles': True, 'Legends of Chima': False, 'The Lone Ranger': True, 'LEGO Ideas and CUUSOO': False, 'Minecraft': True, 'The LEGO Movie': False, 'Disney Princess': True, 'Mixels': False, 'Fusion': False, 'Juniors': False, 'Promotional': False, 'LEGO Exclusive': False, 'Elves': False, 'Speed Champions': False, 'Jurassic World': True, 'Scooby-Doo': True, 'Dimensions': False, 'Nexo Knights': False, 'Angry Birds': True, 'Ghostbusters': True, 'Disney': True, 'Brickheadz': False}

In [24]:
df1["is_licensed"]=df1["parent_theme"].map(d)

In [25]:
df1

,set_num,name,year,num_parts,theme_name,parent_theme,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,False
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,False
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,False
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,False
...,...,...,...,...,...,...,...
11828,Wauwatosa-1,"LEGO Store Grand Opening Exclusive Set, Mayfai...",2012,15.0,LEGO Brand Store,LEGO Brand Store,False
11829,WHITEHOUSE-1,Micro White House,2015,NaN,Promotional,Promotional,False
11830,Wiesbaden-1,"LEGO Store Grand Opening Exclusive Set, Wiesba...",2010,146.0,LEGO Brand Store,LEGO Brand Store,False
11831,WishingWell-1,Wishing Well [Toys R Us Promo],2013,NaN,Friends,Friends,False
11832,wwgp1-1,Wild West Limited Edition Gift Pack,1996,NaN,Cowboys,Western,False

Task #1: What percentage of all licensed sets ever released were Star Wars Themed?

In [26]:
df1[df1["is_licensed"]==True]

,set_num,name,year,num_parts,theme_name,parent_theme,is_licensed
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,True
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,True
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,True
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,True
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes,True
...,...,...,...,...,...,...,...
11811,VP-12,Star Wars Co-Pack of 7121 and 7151,2000,2.0,Star Wars Episode 1,Star Wars,True
11816,VP-2,Star Wars Co-Pack of 7110 and 7144,2001,2.0,Star Wars Episode 4/5/6,Star Wars,True
11817,VP-3,Star Wars Co-Pack of 7131 and 7151,2000,2.0,Star Wars Episode 1,Star Wars,True
11818,VP-4,Star Wars Co-Pack of 7101 7111 and 7171,2000,3.0,Star Wars Episode 1,Star Wars,True
11822,VP-8,Star Wars Co-Pack of 7130 and 7150,2000,NaN,Star Wars Episode 4/5/6,Star Wars,True

In [27]:
df1[(df1["is_licensed"]==True) & (df1["parent_theme"]=="Star Wars")]

,set_num,name,year,num_parts,theme_name,parent_theme,is_licensed
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,True
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,True
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,True
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,True
116,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,True
...,...,...,...,...,...,...,...
11811,VP-12,Star Wars Co-Pack of 7121 and 7151,2000,2.0,Star Wars Episode 1,Star Wars,True
11816,VP-2,Star Wars Co-Pack of 7110 and 7144,2001,2.0,Star Wars Episode 4/5/6,Star Wars,True
11817,VP-3,Star Wars Co-Pack of 7131 and 7151,2000,2.0,Star Wars Episode 1,Star Wars,True
11818,VP-4,Star Wars Co-Pack of 7101 7111 and 7171,2000,3.0,Star Wars Episode 1,Star Wars,True
11822,VP-8,Star Wars Co-Pack of 7130 and 7150,2000,NaN,Star Wars Episode 4/5/6,Star Wars,True

In [28]:
609/1332

0.4572072072072072

Task #2: In which year was Star Wars not the most popular licensed theme?

In [52]:
df1["name"].unique()

array(['Weetabix Castle', 'Town Mini-Figures',
       'Castle 2 for 1 Bonus Offer', ...,
       'LEGO Store Grand Opening Exclusive Set, Wiesbaden, Germany',
       'Wishing Well [Toys R Us Promo]',
       'Wild West Limited Edition Gift Pack'], dtype=object)

In [35]:
(df1["set_num"].value_counts()==1).all()

True

In [47]:
for i,j in df1.groupby(df1.year):
    print(i,len(j[j["parent_theme"]=="Star Wars"]))

1950 0
1953 0
1954 0
1955 0
1956 0
1957 0
1958 0
1959 0
1960 0
1961 0
1962 0
1963 0
1964 0
1965 0
1966 0
1967 0
1968 0
1969 0
1970 0
1971 0
1972 0
1973 0
1974 0
1975 0
1976 0
1977 0
1978 0
1979 0
1980 0
1981 0
1982 0
1983 0
1984 0
1985 0
1986 0
1987 0
1988 0
1989 0
1990 0
1991 0
1992 0
1993 0
1994 0
1995 0
1996 0
1997 0
1998 0
1999 13
2000 26
2001 14
2002 28
2003 32
2004 20
2005 28
2006 11
2007 16
2008 23
2009 39
2010 30
2011 32
2012 43
2013 35
2014 45
2015 58
2016 61
2017 55

In [45]:
len(df1[df1["parent_theme"]=="Star Wars"])

609

In [49]:
answer=2016

Bonus Task: How many unique sets were released each year (1955-2017)?

In [50]:
df1

,set_num,name,year,num_parts,theme_name,parent_theme,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,False
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,False
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,False
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,False
...,...,...,...,...,...,...,...
11828,Wauwatosa-1,"LEGO Store Grand Opening Exclusive Set, Mayfai...",2012,15.0,LEGO Brand Store,LEGO Brand Store,False
11829,WHITEHOUSE-1,Micro White House,2015,NaN,Promotional,Promotional,False
11830,Wiesbaden-1,"LEGO Store Grand Opening Exclusive Set, Wiesba...",2010,146.0,LEGO Brand Store,LEGO Brand Store,False
11831,WishingWell-1,Wishing Well [Toys R Us Promo],2013,NaN,Friends,Friends,False
11832,wwgp1-1,Wild West Limited Edition Gift Pack,1996,NaN,Cowboys,Western,False

In [53]:
for i,j in df1.groupby(df1.year):
    print(i,len(j["name"].unique()))

1950 7
1953 4
1954 13
1955 27
1956 12
1957 15
1958 40
1959 4
1960 3
1961 17
1962 40
1963 18
1964 11
1965 9
1966 89
1967 21
1968 19
1969 69
1970 25
1971 44
1972 38
1973 57
1974 38
1975 31
1976 58
1977 82
1978 70
1979 62
1980 85
1981 70
1982 73
1983 57
1984 73
1985 110
1986 121
1987 195
1988 65
1989 108
1990 70
1991 104
1992 110
1993 111
1994 125
1995 112
1996 140
1997 187
1998 309
1999 283
2000 313
2001 329
2002 444
2003 414
2004 370
2005 325
2006 282
2007 316
2008 348
2009 395
2010 440
2011 499
2012 611
2013 591
2014 711
2015 662
2016 605
2017 432