![trainers in a store](trainers.jpg)

Sports clothing and athleisure attire is a huge industry, worth approximately [$193 billion in 2021](https://www.statista.com/statistics/254489/total-revenue-of-the-global-sports-apparel-market/) with a strong growth forecast over the next decade! 

In this notebook, you will undertake the role of a product analyst for an online sports clothing company. The company is specifically interested in how it can improve revenue. You will dive into product data such as pricing, reviews, descriptions, and ratings, as well as revenue and website traffic, to produce recommendations for its marketing and sales teams.  

You've been provided with five datasets to investigate:
* `info.csv`
* `finance.csv`
* `reviews.csv`
* `traffic.csv`
* `brands.csv`

The company has asked you to answer the following questions:

## What is the volume of products and average revenue for Adidas and Nike products based on price quartiles?

* Label products priced up to quartile one as `"Budget"`, quartile 2 as `"Average"`, quartile 3 as `"Expensive"`, and quartile 4 as `"Elite"`.
* Store as a `pandas` DataFrame called `adidas_vs_nike` containing the following columns: `"brand"`, `"price_label"`, `"num_products"`, and `"mean_revenue"`.

## Do any differences exist between the word count of a product's description and its mean rating?

* Store the results as a `pandas` DataFrame called `description_lengths` containing the following columns: `"description_length"`, `"mean_rating"`, `"num_reviews"`.

## How does the volume of products and median revenue vary between clothing and footwear?

* **Create** a `pandas` DataFrame called `product_types` containing the following columns: `"num_clothing_products"`, `"median_clothing_revenue"`, `"num_footwear_products"`, `"median_footwear_revenue"`.

In [1]:
# Start coding here... 
import pandas as pd
import numpy as np

In [3]:
info=pd.read_csv("info.csv")
info

,product_name,product_id,description
0,NaN,AH2430,NaN
1,Women's adidas Originals Sleek Shoes,G27341,"A modern take on adidas sport heritage, tailor..."
2,Women's adidas Swim Puka Slippers,CM0081,These adidas Puka slippers for women's come wi...
3,Women's adidas Sport Inspired Questar Ride Shoes,B44832,"Inspired by modern tech runners, these women's..."
4,Women's adidas Originals Taekwondo Shoes,D98205,This design is inspired by vintage Taekwondo s...
...,...,...,...
3174,Nike Tiempo Legend 8 Academy TF,AT6100-606,The Nike Tiempo Legend 8 Academy TF takes the ...
3175,Nike React Metcon AMP,CT9155-063,The Nike React Metcon AMP takes the stability ...
3176,Air Jordan 8 Retro,CI1236-100,The Air Jordan 8 Retro recaptures the memorabl...
3177,Nike Air Max 98,AH6799-300,The Nike Air Max 98 features the OG design lin...
3178,Nike P-6000 SE,CJ9585-600,"A mash-up of Pegasus' past, the Nike P-6000 SE..."

In [5]:
info.isna().sum()

product_name    59
product_id       0
description     62
dtype: int64