[Reference Solution Notebook](https://github.com/dataquestio/solutions/blob/master/Mission382Solutions.ipynb)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 1.Guided Project: Mobile App for Lottery Addiction

In this project, we are going to contribute to the development of a mobile app by writing a couple of functions that are mostly focused on calculating probabilities. The app is aimed to both prevent and treat lottery addiction by helping people better estimate their chances of winning.

The app idea comes from a medical institute which is specialized in treating gambling addictions. The institute already has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities. For the first version of the app, they want us to focus on the 6/49 lottery and build functions that can answer users the following questions:

* What is the probability of winning the big prize with a single ticket?
* What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
* What is the probability of having at least five (or four, or three) winning numbers on a single ticket?
The scenario we're following throughout this project is fictional — the main purpose is to practice applying probability and combinatorics (permutations and combinations) concepts in a setting that simulates a real-world scenario.

## 2.Core Functions

* Write a function named factorial() which takes as input a number n and computes the factorial of that number n. Remember that we already coded this function in the last lesson.

* Write a function named combinations() which takes in two inputs (n and k) and outputs the number of combinations when we're taking only k objects from a group of n objects. Remember that we already coded this function in the last lesson.

In [2]:
def factorial(n):
    f=1
    i=2
    while i<=n:
        f=f*i
        i=i+1
    return f

In [3]:
def combinations(n,k):
    return factorial(n)/(factorial(k)*factorial(n-k))

## 3.One-ticket Probability

* Write a function named one_ticket_probability(), which takes in a list of six unique numbers and prints the probability of winning in a way that's easy to understand.


    * Start by calculating the total number of possible outcomes — this is total number of combinations for a six-number lottery ticket. There are 49 possible numbers, and six numbers are sampled without replacement. Use the combinations() function you wrote in the previous screen.
    * The user inputs just one combination, which means the number of successful outcomes is 1.
    * Use the number of successful outcomes and the total number of possible outcomes to calculate the probability for one ticket.
    * The function should print the probability in a way that's easy to understand. It's up to you what you choose, but here are a few suggestions:
        * Print the probability as a percentage.
        * Use the str.format() method to make the printed message more personalized with respect to what the user inputs.

In [4]:
def one_ticket_probability(n):
    d= (1/combinations(49,6))*100
    return f"you have {d:.7f} % of chances to win the big brize"

In [5]:
user_num=[10,2,3,7,33,44]
one_ticket_probability(user_num)

'you have 0.0000072 % of chances to win the big brize'

## 4.Historical Data Check for Canada Lottery

The institute also wants us to consider the data coming from the national 6/49 lottery game in Canada. The data set contains historical data for 3,665 drawings, dating from 1982 to 2018 (the data set can be downloaded from [here](https://www.kaggle.com/datascienceai/lottery-dataset)).

* Open the 649.csv file and save it as a pandas DataFrame.
* Print the number of rows and columns of this data set.
* Print the first and the last three rows and try to get familiar with the data set.

In [6]:
df=pd.read_csv("649.csv")

In [7]:
df.shape

(3665, 11)

In [8]:
df.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [9]:
df.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

## 5. Function for Historical Data Check

1. Extract all the winning six numbers from the historical data set as Python sets (set is a data type in Python).

    * Write a function named extract_numbers() that takes as input a row of the lottery dataframe and returns a set containing all the six winning numbers. For the first row, for instance, the function should return the set {3, 41, 11, 12, 43, 14}.
    * Use extract_numbers() in combination with the DataFrame.apply() method to extract all the winning numbers.

2. Write a function named check_historical_occurence() that takes in two inputs: a Python list containing the user numbers and a pandas Series containing sets with the winning numbers (this is the Series you'll extract using the extract_numbers() function).

    * Convert the user numbers list as a set using the set() function.
    * Compare the set against the pandas Series that contains the sets with the winning numbers to find the number of matches — a Series of Boolean values will be returned as a result of the comparison (the value will be True each time there'll be a match).
    * Print information about the number of times the combination inputted by the user occurred in the past.
    * Print information (in an easy-to-understand way) about the probability of winning the big prize in the next drawing with that combination.

In [10]:
df

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45
...,...,...,...,...,...,...,...,...,...,...,...
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [11]:
def extract_numbers(x):
    l=[]
    for i in range(len(x)):
         l.append({x.loc[i]["NUMBER DRAWN 1"],x.loc[i]["NUMBER DRAWN 2"],x.loc[i]["NUMBER DRAWN 3"],
           x.loc[i]["NUMBER DRAWN 4"],x.loc[i]["NUMBER DRAWN 5"],x.loc[i]["NUMBER DRAWN 6"]})
    return l

In [12]:
l=extract_numbers(df)

In [13]:
len(l)

3665

check_historical_occurence() function checks whether a certain combination has occurred in the Canada lottery data set

In [14]:
s=[33, 36, 37, 39, 8, 41]
s=set(s)
c=0
for i in l:
    a=s & i
    if len(a) ==6:
        c=c+1
print(c)
print(f"probability : {c/len(l)*100:.7f}")

1
probability : 0.0272851

## 6.Multi-ticket Probability

For the first version of the app, users should also be able to find the probability of winning if they play multiple different tickets. For instance, someone might intend to play 15 different tickets and they want to know the probability of winning the big prize.

The engineering team wants us to be aware of the following details when we're writing the function:

* The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
* Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
* The function should print information about the probability of winning the big prize depending on the number of different tickets played.

The multi_ticket_probability() function below takes in the number of tickets and prints probability information depending on the input.

### Instructions

Write a function named multi_ticket_probability() that prints the probability of winning the big prize depending on the number of different tickets played.

* Start by calculating the total number of possible outcomes — this is total number of combinations for a six-number lottery ticket. There are 49 total numbers, and six numbers are sampled without replacement. Use the combinations() function you wrote in a previous screen.
* The number of successful outcomes is given by the number of tickets the user intends to play.
* Use the number of successful outcomes and the total number of possible outcomes to calculate the probability for the number of tickets inputted.
* The function should print the probability in a way that's easy to understand. It's up to you what you choose, but here are a few suggestions:
    * Print the probability as a percentage.
    * Use the str.format() method to make the printed message more personalized with respect to what the user inputs.

In [15]:
def multi_ticket_probability(n):
    return f"Probability: {n/combinations(49,6)*100:.6f}"

In [16]:
multi_ticket_probability(1000)

'Probability: 0.007151'

In [22]:
for i in  [1, 10, 100, 10000, 1000000, 6991908, 13983816]:
    print(f"Number of tickets {i} and its {multi_ticket_probability(i)} %")

Number of tickets 1 and its Probability: 0.000007 %
Number of tickets 10 and its Probability: 0.000072 %
Number of tickets 100 and its Probability: 0.000715 %
Number of tickets 10000 and its Probability: 0.071511 %
Number of tickets 1000000 and its Probability: 7.151124 %
Number of tickets 6991908 and its Probability: 50.000000 %
Number of tickets 13983816 and its Probability: 100.000000 %

## 7.Less Winning Numbers — Function

Write a function named probability_less_6() which takes in an integer between 2 and 5 and prints information about the chances of winning depending on the value of that integer.

* First, calculate the number of successful outcomes given the value of the input. We already covered how to calculate this when the input is 5 — when the input is lower, we need to take the same approach (but be careful, the number of combinations will vary). If you get stuck, try to sneak a look at the [solution notebook.](https://github.com/dataquestio/solutions/blob/master/Mission382Solutions.ipynb)
* Second, calculate the number of total possible outcomes.
* Calculate the probability using the number of successful outcomes and the number of total possible outcomes.
* Display the probability value in a way that will be easy to understand for the user.

In [23]:
def probability_less_6(n):
    s=combinations(6,n)*(49-1-n)
    t=combinations(49,6)
    print(f"Probability in %: {s/t*100:.6f}")

In [24]:
probability_less_6(5)

Probability in %: 0.001845

In [25]:
for i in range(2,6):
    probability_less_6(i)

Probability in %: 0.004934
Probability in %: 0.006436
Probability in %: 0.004720
Probability in %: 0.001845

In [35]:
combinations(47,4)

178365.0

In [36]:
(178365.0-1)*15

2675460.0

In [37]:
2675460.0/13983816

0.1913254579436686